<h1 mat-dialog-title>
    {{ dialogTitle }}
</h1>
<div mat-dialog-content>
    <p>{{ dialogContent }}</p>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="buttonOrderVerifyDialogVerifyClick()"
        id="buttonOrderVerifyDialogVerify">
        <mat-icon matSuffix>fact_check</mat-icon> Verify
    </button>
    &nbsp;
    <button mat-stroked-button (click)="buttonOrderVerifyDialogCloseClick()" id="buttonOrderVerifyDialogClose">
        <mat-icon matSuffix>close</mat-icon> Close
    </button>
</div>