<mat-toolbar class="toolbar-fixed-top">
    <a routerLink="/landing">
        <img src="./../../../assets/logo/ordercliq_logo_nav.png" style="margin-top: 7px;" height="40" />
    </a>
    <span class="toolbar-spacer"></span>
    <button mat-button routerLink="/account/login/0">
        Login
    </button>
</mat-toolbar>
<div style="padding-top: 100px; 
            padding-left: 30px; 
            padding-right: 30px; 
            padding-bottom: 30px; 
            background-color: #7FBA00;">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="60" style="margin: 30px;">
            <div style="width: 100%; text-align: center;">
                <h1
                    style="font-size: 50px; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.2; color: white;">
                    Manage your orders with ease like a folder!
                </h1>
            </div>
        </div>
        <div fxFlex="40" style="margin: 5px;">
            <mat-card>
                <button mat-flat-button color="primary" routerLink="/account/register/Seller/0" style="padding: 10px;">
                    <img src="../../../assets/dashboard-icons/seller.png" style="width: 20%; margin-bottom: 15px;" />
                    <p style="font-size: 25px; line-height: 1;">
                        I want to Sell!
                    </p>
                </button>
                <br />
                <br />
                <button mat-flat-button color="primary" routerLink="/account/register/Seller/0" style="padding: 10px;">
                    <img src="../../../assets/dashboard-icons/buyer.png" style="width: 20%;  margin-bottom: 15px;" />
                    <p style="font-size: 25px; line-height: 1;">
                        I want to Buy!
                    </p>
                </button>
            </mat-card>
            <br />
            <br />
        </div>
    </div>
</div>
<br />
<footer class="footer">
    <div style="margin-top: 3px; font-size: 15px;">
        &nbsp; © 2020 <b>ordercliq.com</b>
    </div>
    <span class="spacer"></span>
    <a href="#">
        <img src="../../assets/footer/facebook.png" height="25"
            style="vertical-align: middle; margin-right: 10px;" />
    </a>
    <a href="#">
        <img src="../../assets/footer/instagram.png" height="25"
            style="vertical-align: middle; margin-right: 10px;" />
    </a>
    <a href="#">
        <img src="../../assets/footer/twitter.png" height="25"
            style="vertical-align: middle; margin-right: 10px;" />
    </a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
</footer>