<h1 mat-dialog-title>
    Order Detail
</h1>
<mat-dialog-content>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Order Detail">
            <div [hidden]="orderDetailSpinnerHidden">
                <mat-spinner class="spinner-center"></mat-spinner>
            </div>
            <div [hidden]="orderDetailNotFoundHidden">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="35"></div>
                    <div fxFlex="30">
                        <div style="width: 100%; text-align: center;">
                            <img src="./../../../../assets/dashboard-icons/error-404.png" style="width: 100%;" />
                        </div>
                    </div>
                    <div fxFlex="35"></div>
                </div>
                <div style="width: 100%; text-align: center; font-size: 20px;">
                    <p>Order details not found in the server. </p>
                </div>
            </div>
            <div [hidden]="orderDetailSpinnerContentHidden">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="margin: 5px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Order Number</mat-label>
                                    <input readonly matInput [(ngModel)]="orderDetailModel.OrderNumber"
                                        [ngModelOptions]="{standalone: true}" #text_order_number maxlength="100"
                                        placeholder="0000000001" />
                                    <mat-icon matSuffix>shopping_cart</mat-icon>
                                    <mat-hint align="end">{{text_order_number.value.length}} / 100</mat-hint>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Order Date</mat-label>
                                    <input readonly matInput [(ngModel)]="orderDetailModel.OrderDate"
                                        [ngModelOptions]="{standalone: true}" #text_order_date maxlength="100"
                                        placeholder="07/19/2020" />
                                    <mat-icon matSuffix>calendar_today</mat-icon>
                                    <mat-hint align="end">{{text_order_date.value.length}} / 100</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="100" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Product Description</mat-label>
                                    <input readonly matInput [(ngModel)]="orderDetailModel.ProductDescription"
                                        [ngModelOptions]="{standalone: true}" #text_product_description maxlength="1000"
                                        placeholder="Eg., Ethyl Alcohol (CASINO) 500mL" />
                                    <mat-icon matSuffix>shop</mat-icon>
                                    <mat-hint align="end">{{text_product_description.value.length}} / 1000</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Product Manual Code</mat-label>
                                    <input readonly matInput [(ngModel)]="orderDetailModel.ProductManualCode"
                                        [ngModelOptions]="{standalone: true}" #text_product_manual_code maxlength="250"
                                        placeholder="4800011121529" />
                                    <mat-icon matSuffix>view_array</mat-icon>
                                    <mat-hint align="end">{{text_product_manual_code.value.length}} / 250</mat-hint>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Product SKU Code</mat-label>
                                    <input readonly matInput [(ngModel)]="orderDetailModel.ProductSKUCode"
                                        [ngModelOptions]="{standalone: true}" #text_product_SKU_code maxlength="250"
                                        placeholder="4800011121529" />
                                    <mat-icon matSuffix>view_array</mat-icon>
                                    <mat-hint align="end">{{text_product_SKU_code.value.length}} / 250</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Price</mat-label>
                                    <input readonly type="text" matInput [(ngModel)]="orderDetailModel.ProductPrice"
                                        [ngModelOptions]="{standalone: true}" #text_product_price maxlength="100"
                                        placeholder="0.00" />
                                    <mat-icon matSuffix>local_offer</mat-icon>
                                    <mat-hint align="end">{{text_product_price.value.length}} / 100</mat-hint>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Quantity</mat-label>
                                    <input readonly type="text" matInput [(ngModel)]="orderDetailModel.Quantity"
                                        [ngModelOptions]="{standalone: true}" #text_order_quantity maxlength="100"
                                        placeholder="0.00" />
                                    <mat-icon matSuffix>format_list_numbered_rtl</mat-icon>
                                    <mat-hint align="end">{{text_order_quantity.value.length}} / 100</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="100" style="margin: 5px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Amount</mat-label>
                                    <input readonly type="text" matInput matInput [(ngModel)]="orderDetailModel.Amount"
                                        [ngModelOptions]="{standalone: true}" #text_order_amount maxlength="100"
                                        placeholder="0.00" />
                                    <mat-icon matSuffix>money</mat-icon>
                                    <mat-hint align="end">{{text_order_amount.value.length}} / 100</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Shipping Address">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="margin: 5px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="100" style="margin: 5px;">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Complete Address</mat-label>
                                <textarea readonly [(ngModel)]="orderDetailModel.BuyerAddress"
                                    [ngModelOptions]="{standalone: true}" matInput #text_compelete_address
                                    maxlength="1000"
                                    placeholder="eg., House/Bldg No., Street, Barangay, City, Country and Postal Code"
                                    rows="7"></textarea>
                                <mat-icon matSuffix>edit_location</mat-icon>
                                <mat-hint align="end">{{text_compelete_address.value.length}} / 1000
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" style="margin: 5px;">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Contact Number</mat-label>
                                <input readonly matInput [(ngModel)]="orderDetailModel.BuyerContactNumber"
                                    [ngModelOptions]="{standalone: true}" #text_buyers_contact_number maxlength="250"
                                    placeholder="09569863933" />
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-hint align="end">{{text_buyers_contact_number.value.length}} / 250</mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" style="margin: 5px;">

                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="warn" *ngIf="!buttonOrderDetailDialogCancelHidden"
        (click)="buttonOrderDetailDialogCancelClick()">
        <mat-icon matSuffix>cancel</mat-icon> Cancel
    </button>
    &nbsp;
    <button mat-stroked-button (click)="buttonOrderDetailDialogCloseClick()">
        <mat-icon matSuffix>close</mat-icon> Close
    </button>
</mat-dialog-actions>