<mat-toolbar>
    <img src="../../../assets/dashboard-icons/dashboard.png" height="35" />
    <span>&nbsp;&nbsp; Dashboard</span>
</mat-toolbar>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;">
            <button routerLink="/software-buyer/order" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/dashboard-icons/order.png" height="100" />
                <br />
                <br />
                <span style="font-size: 25px;">Orders</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">
            <button routerLink="/software-buyer/profile" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/dashboard-icons/profile.png" height="100" />
                <br />
                <br />
                <span style="font-size: 25px;">Profile</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
    </div>
</div>