<h1 mat-dialog-title>
    {{ dialogTitle }}
</h1>
<div mat-dialog-content>
    <p>{{ dialogContent }}</p>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="buttonProductDeleteDialogDeleteClick()"
        id="buttonProductDeleteDialogDelete">
        <mat-icon matSuffix>delete</mat-icon> Delete
    </button>
    &nbsp;
    <button mat-stroked-button (click)="buttonProductDeleteDialogCloseClick()" id="buttonProductDeleteDialogClose">
        <mat-icon matSuffix>close</mat-icon> Close
    </button>
</div>